//- link
mixin link(options)
	-var options = options || {}
	-var href = options.href || '#'
	-var text = options.text || ''
	-var visible = options.visible === 'false' ? 'visually-hidden': ''
	a(href= href )&attributes(attributes)
		block
		span(class= visible)= text
//- link item
mixin item-link(options)
	-var options = options || {}
	-var href = options.href || '#'
	-var text = options.text || ''
	-var visible = options.visible === 'false' ? 'visually-hidden': ''
	-var active = options.active ? 'active':''
		li&attributes(attributes)(class=active)
			a(href= href )
				span(class= visible)= text
				block

mixin image(options)
	-var options = options || {}
	-var sorce = options.sorce || ''
	-var width = options.width || ''
	-var height = options.height || ''
	-var alt = options.alt || ''
	-var desk = options.desk || ''
	-var laptop = options.laptop || ''
	-var tablet = options.tablet || ''
		picture
			-if(desk) {
				source(media='(min-width: 1440px)', srcset=desk)
			-}
			-if(laptop) {
				source(media='(min-width: 1024px)', srcset=laptop)
			-}
			-if(tablet) {
				source(media='(min-width: 768px)', srcset=tablet)
			-}
			img(src= sorce alt= scr width= width height= height)&attributes(attributes)
				



